<h1> Welcome to Movies </h1>

<!--
<input type="text" [(ngModel)]='topMovie' value="Top-Movie"/><br> <br>
<input type="text" [(ngModel)]='topMovie' value="Top-Movie"/><br> <br>

<select [(ngModel)]='topMovie'>
    <option>Action</option>
    <option>Animated</option>
    <option>Horror</option>
</select>
<br> <br>
<button class="btn btn-outline-danger btn-lg" (click)="showMovie()">Movies</button> <br> <br>

<br>
<img [src]='url'

    [style.width.px] = 'imgWidth'
    [style.height.px] = 'imgHeight'
    [title] = 'title' > 
<br> <br>
<img src='./../assets/Movie-Images/ff7.jpg' style="width:800px ; height:400px" > <br><br>

-->


<table class="table " *ngIf= " movies.length > 0 " >
    <thead>
    <tr> 
        
    <th> Movie Name </th>
    <th> Actor </th> 
    <th> Price </th> 
    <th> Release </th> 
    <th> Rating </th> 
    <th> Image </th> 
    
    </tr>

    </thead>

    <tbody>

        <tr  *ngFor = "let mov of movies">


         <td> {{mov.movieName | uppercase}} </td>
         <td> {{mov.actor }} </td>
         <td> {{mov.price }} </td>
         <td> {{mov.release }} </td>
         <td> {{mov.rating }} </td>
         <td> <img [src]= 'mov.imageUrl' 

                 [style.width.px] = 'imgWidth'
                 [style.height.px] = 'imgHeight' >
         </td>

        </tr>
  
    </tbody>

</table>
